<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OT - Questions</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body class="hr exams-part">
    <div class="page-content">
      <div class="page-navbar">
        <div class="welcome">
          <p>Welcome <span><%= username %></span></p>
        </div>
        <div class="logout">
          <a href="/logout" class="btn btn-trans">Logout</a>
        </div>
      </div>
      <div class="content-area">
        <div class="container">
          <div class="exams">
            <h3>Exams assigned by the HR</h3>
            <% for ( var i = 0; i < exam.types.length; i++ ){ %>
              <div class="quests">
                <div class="quest">
                  <div class="head d-flex">
                    <h5><%= exam.types[i] %> <span><%=exam.time%> min</span></h5>
                    <a href="/applicant-exam?id=<%=exam._id%>&type=<%=exam.types[i]%>" class="btn btn-success">Start</a>
                  </div> 
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    
    <script src="js/jquery.3.3.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
